@import "tailwindcss";

@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans", sans-serif;
  --font-heading: "Figtree", sans-serif;

  --color-primary-50: #ECFEFF;
  --color-primary-100: #CFFAFE;
  --color-primary-500: #06B6D4;
  --color-primary-600: #0891B2;
  --color-primary-700: #0E7490;
  --color-primary-900: #164E63;

  --color-health-50: #ECFDF5;
  --color-health-500: #10B981;
  --color-health-600: #059669;
  --color-health-700: #047857;
}

:root {
  --background: #ffffff;
  --foreground: #164E63;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
