node_modules/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage directory used by tools like istanbul
coverage/
.nyc_output/